{
  "identityName": "PASTE Package/Identity/Name FROM PARTNER CENTER",
  "publisher": "PASTE Package/Identity/Publisher FROM PARTNER CENTER",
  "publisherDisplayName": "PASTE Package/Properties/PublisherDisplayName FROM PARTNER CENTER"
}
